{{ define "content" }}
<div class="content-wrapper">
    <h2 class="page-title">New Note</h2>
    <div class="form-container">
        <form id="noteForm" action="/notes" method="POST" class="note-form">
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
            <div class="form-group">
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="done">Done:</label>
                <select id="done" name="done" class="form-control">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-custom btn-custom-login">Add Note</button>
            </div>
        </form>
    </div>
    <h3 class="page-subtitle">Your Notes</h3>
    <div class="notes-container">
        <ul class="list-group note-list">
            {{ range .Notes }}
            <li class="list-group-item note-item">
                <strong>{{ .Text }}</strong> - {{ .Date.Format "2006-01-02" }} - Done: {{ .Done }}
                <form action="/notes/delete" method="POST" class="delete-form float-right">
                    <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
                    <input type="hidden" name="text" value="{{ .Text }}">
                    <button type="submit" class="btn btn-custom-sm btn-custom-login">Delete</button>
                </form>
            </li>
            {{ else }}
            <li class="list-group-item note-item">No notes found.</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
